<div class="container mx-auto py-6">
  <div class="px-4 py-3 bg-white flex justify-start rounded">
    <%= link_to 'Создать', new_post_path, class: "px-4 py-2 text-indigo-600 hover:text-white hover:bg-indigo-600 text-center border-2 border-indigo-600 rounded" %>
  </div>
  <div data-controller="infinite-scroll" class="mt-10 flex flex-col justify-start rounded">
    <div data-target="infinite-scroll.entries" class="w-full">
      <%= render @page.records %>
    </div>
    <div data-target="infinite-scroll.pagination">
      <%= render 'next_link' %>
    </div>
  </div>
</div>
